*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3D80EB;
}
  
header{
    background-color: #3D80EB;
    color: #fff;
    
}
  
h1{
    text-align: center;
    color: white;
  }
  
main{
    width: 100%;
    max-width: 960px;
    margin: 6em auto;
    padding: 4rem 0;
    background-color: red;
    
}
  
section{
    padding: 1rem;
}
  
footer{
    background-color: #3D80EB;
    color: white;
    padding: 1rem;
}

.container__moeda{
    display: flex;
    justify-content: space-evenly;
}

/*************HEADER****************/
.container__ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}

.ul__primeiro{
    font-size: 16px;
    padding: 13px 0;
}

.ul__primeiro a{
    text-decoration: none;
    color: white;

}

.ul__segundo{
    background-color: white;
    padding: 16px 0;
    color: rgb(17, 51, 10);
    font-size: 14px ;
}


/***********MAIN**************/
.text__main{
    font-size: 14px;
    color: white;
    text-align: center;
}


.form{
    display: flex;
    justify-content: space-evenly;
}
