{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1>Cotação em {{data}}</h1>
    </header>

    <main>

        <section>
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <!--Primeiro BOX-->
                <div class="container__moeda">
                    <div>
                        <select name="moeda" id="moeda">
                            {% for moeda in moedas %}
                                {% if moeda.id != 11 %}
                                    <option value="{{moeda.sigla}}">{{moeda.sigla}} - {{moeda.moeda}} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" value="1,00" name="moeda_cotacao">
                </div>

                <!--Segundo box BOX-->
                <div class="container__moeda">
                    <div>
                        <p>{{real.sigla}} - {{real.moeda}}</p>
                    </div>
                    <!-- <input type="text" class="moeda-input" value="1,00"> -->
                    <input type="text" class="moeda-input" value="{{valor_atualizado}}">
                </div>


                <input type="submit" value="Cotação">
            </form>



        </section>

    </main>

    <footer>
        <p>Copyright © 2023</p>
    </footer>


  
    
</body>
</html>