{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <ul class="container__ul ul__primeiro">
            <li><a href="" class="logo__header">Moedinha Oline</a></li>
            <li><a href="">Cotações</a></li>
            <li><a href="">Blog</a></li>
        </ul>
        <ul class="container__ul ul__segundo">
            <li><a href="">Dólar americano</a></li>
            <li><a href="">Euro</a></li>
            <li><a href="">Libra esterlina</a></li>
            <li><a href="">Dólar australiano</a></li>
            <li><a href="">Dólar canadense</a></li>
            <li><a href="">Franco suíço</a></li>
        </ul>
    </header>
    
    <main>
        <h1>{{ valor_dolar|floatformat:2 }} Reais</h1>
        <p class="text__main">1 {{dolar.moeda}} hoje {{data}}</p>
        <section>
            <form action="{% url 'index' %}" method="POST" class="form">
                {% csrf_token %}
                <!--Primeiro BOX-->
                <div class="container__moeda">
                    <div>
                        <select name="moeda" id="moeda">
                            {% for moeda in moedas %}
                                {% if moeda.id != 11 %}
                                    <option value="{{moeda.sigla}}">{{moeda.sigla}} - {{moeda.moeda}} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <input type="text" value="1,00" name="moeda_cotacao">
                </div>

                <!--Segundo box BOX-->
                <div class="container__moeda">
                    <div>
                        <p>{{real.sigla}} - {{real.moeda}}</p>
                    </div>
                    <input type="text" class="moeda-input" value="1,00">
                    <!-- <input type="text" class="moeda-input" value="{{valor_atualizado}}"> -->
                </div>

                
            </form>
            <input type="submit" value="Cotação">
        </section>

    </main>

    <footer>
        <p>Copyright © 2023</p>
    </footer>

</body>
</html>